@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2 text-right">
        <h3><small>Version:</small></h3>
    </div>
    <div class="col-md-3">
        <h3>@ViewData["Version"]</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <h3><small>Environment:</small></h3>
    </div>
    <div class="col-md-3">
        <h3>
            <environment Names="Development">Development</environment>
            <environment Names="Staging">Staging</environment>
            <environment Names="Production">Production</environment>
        </h3>
    </div>
</div>